.game {
	display:inline-block;
	width:49%;
}
.game > table {
	width:100%;
}

.ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 6px;
}

.ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 6px;
}

.statsummarytable table, .statsummarytable td, .pielegendbox {
    margin: auto;
}

.statsummarytable > table {
    border: 2px solid #ddd;
}

.playerattr, .playerrole {
    display: inline-block;
    padding-left: 0.7em;
    padding-right: 0.7em;
}

.rankpielegend td {
    padding-left: 0.3em;
    padding-right: 0.3em;
}

@media(max-width:600px) {
	.game {
		width:100%;
	}
}
