* {
	box-sizing:border-box;
	margin:0;
	padding:0;
	outline:0;
}
html, body {
	font-size:16pt;
	font-family: Lato, sans-serif;
	text-align:center;
}

#navbar {
	line-height:30px;
	vertical-align:middle;
}

.sitelogo {
        height: 100px;
        padding: 10px;
	float:left;
}

.ui-tabs-nav {
    margin:auto;
    vertical-align:middle;
}

#navbar > a {
	display:inline;
	height:100%;
	padding:0;
	margin-top:0;
	margin-bottom:0;
	margin-left:0.5em;
	margin-right:0.5em;
}

#content {
	width:96%;
	max-width:1500px;
	position:relative;
	display:inline-block;
	margin-top:1em;
	margin-bottom:1em;
}

h1 {
	margin:1em;
}

a, .ui-widget-content a {
	text-decoration:none;
	font-weight:bold;
	color:inherit;
	cursor:pointer;
}

button, input:not(.actionbutton, [type="checkbox"]), select, .clickable  {
	width:100%;
	height:2em;
	margin-bottom:0.5em;
}

input {
	padding-left:0.5em;
	padding-right:0.5em;
}

button, input[type="submit"] {
	cursor:pointer;
}

button:hover, input[type="submit"]:hover, a:hover, .colheader:hover {
    text-decoration:underline;
    cursor:pointer;
    opacity: .5;
    transition: opacity 200ms linear;
}
}

button[disabled] {
	text-decoration:none;
	cursor:not-allowed;
}

table {
	border-collapse:collapse;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ui-widget-content, .ui-menu .ui-menu-item, .ui-menu .ui-menu-item.ui-state-focus,
.ui-datepicker-header.ui-widget-header, .ui-widget-content .ui-state-hover, .ui-datepicker td,
.ui-widget-content .ui-state-default {
	border:none;
}
.ui-widget-header.ui-datepicker-header {
	border-radius:0;
}

.ui-widget-content .ui-state-disabled {
	opacity:1;
}

.ui-widget-content.ui-datepicker {
	padding:0;
}

button.clearplayercomplete {
	display: inline-block;
	position: absolute;
	width: 2em;
	height: 2em;
	right:0;
	margin: 0;
	margin-top:4px;
	background:none;
}

.button {
	display:block;
	margin-bottom:0.5em;
	padding:1em;
}

.actionbutton {
    display:inline;
}

.sectionControl {
    height: 1em;
    vertical-align: middle;
    margin-bottom: 0.2em;
    cursor: pointer;
}

#tables > .table{
	display:inline-block;
	padding:0.5em;
	width:49%;
}
.table > div, .table th, .table td {
	text-align:center;
	height:1.5em;
	line-height:1.5em;
	padding-left:0.5em;
	padding-right:0.5em;
	white-space:nowrap;
	vertical-align:middle;
}
.table > div > .windicator {
	float:left;
}
.summaryTile {
    padding: 1em;
    display: inline-block;
    margin: auto;
}

.unusedPointsEditor[data-scoreid=""] {
    display:none;
}

.listing, .centerbutton {
	margin: auto;
	vertical-align: middle;
}

.listing td {
	padding-left: 5px;
	padding-right: 5px;
}

.listing input {
	margin-bottom: 0.75em;
}

.listing select {
	margin-bottom: 0.75em;
}

#currentUsers {
	width: 90%;
	margin: auto;
}

.cut-separator {
 	font-size: small;
}

@media (max-width:600px) {
	#tables > .table {
		width:100%;
	}
	#currentUsers {
		width: 100%;
	}
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}

.flagimage {
    padding-left: 0.4em;
}

.flagimage img {
    height: 0.75em;
}

#delete-tournament-confirmation {
	display: none;
}
.player-merge-button {
    border: none;
    background-image: url("/static/images/merge-icon-pale-yellow.png");
    background-repeat: no-repeat;
    background-color: transparent;
}

.player-merge-button:hover {
    opacity: .5;
    transition: opacity 200ms linear;
}

.jsgrid-button + .player-merge-button {
    margin-left: 5px;
}

.confirm-merge-table td, .confirm-merge-table th {
    text-align: center;
    height:1.5em;
    line-height:1.5em;
    padding-left:0.5em;
    padding-right:0.5em;
}

.confirm-merge-table .jconfirm-content-pane {
    display: inline-block;
}

#transferplayers {
    font-size: large;
}

#tournamentspanel, #playerspanel {
    width-min: 300;
}

tournamentplayereditmode {
    width: 45%
}

#tournamentsspanel .CountrySelector {
    min-width: 20em;
}

.playernamecolumn {
    width: 20em;
}

.playerassoccolumn, .playercountrycolumn, .playertourncolumn {
    max-width: 10%;
}

.PlayerSelectBox {
    width: 3em;
}

.hidden {
    display: none;
}

.exposed {
    display: inline-block;
}

.duplicate-icon-tl {
    font-size: .7em;
    position: relative;
    top: -.3em;
    left: -.25em;
    margin-right: .125em;
}

.duplicate-icon-br {
    .font-size: .7em;
    position: absolute;
    top: .3em;
    left: .25em
}
