.flag_image {
    height: 100%;
    border: 1px solid black;
}

#tournament > .ui-tabs-panel {
	width:100%;
	overflow-x: auto;
}

#tournament > .ui-tabs-panel > * {
	margin: 0 auto;
}

@media (max-width:600px) {
	.ui-tabs .ui-tabs-panel {
		padding:0;
	}
}

table {
    margin: auto;
}

th, td {
    padding: 3px;
}

input[type="checkbox"] {
    height: 0.8em;
    width: 0.8em;
    margin-left: 0.5em;
    border: 1px solid black;
}

#players > table tr > *:nth-of-type(1) {
	width:20em;
}
#players > table tr > *:nth-of-type(2) {
	width:2em;
}
#players > table tr > *:nth-of-type(3) {
	width:2em;
}
#players > table tr > *:nth-of-type(4) {
	width:1em;
}
#players > table tr > *:nth-of-type(5) {
	width:5em;
}
#players > table tr > *:nth-of-type(6) {
	width:5em;
}
#players > table tr > *:nth-of-type(7) {
	width:5em;
}
#players > table tr > *:nth-of-type(8) {
	width:10em;
}
#players > table td:not(.type) > input {
	width:100%;
}
