<table>
	<tr class="leaderbd_col_header">
		{% if not allTied %}
			<th>PLACE</th>
		{% end %}
		{% comment <th>CUT</th>	%}
		<th>NAME</th>
		<th colspan="2" >COUNTRY</th>
		<th>GAMES</th>
		<th>RAW PTS</th>
		<th>PENALTY</th>
		<th>TOTAL</th>
		<th>STATUS</th>
	</tr>
	{% set last_cutName = None %}
	{% for row in leaderboard %}
		{% if row['cutName'] and row['cutName'] != last_cutName %}
		<tr>
			<td class="cut-separator" colspan="22"> <hr> CUT {{ row['cutName'] }} </td>
		</tr>
		{% set last_cutName = row['cutName'] %}
		{% end %}

		<tr class="leaderbd_row" data-status="{{ row['type'] }}">
			{% if not allTied %}
				<td>{{ row['place'] }}</td>
				{% end %}
			<td><a href="{{ proxyprefix }}playerStats/{{ row['player'] }}">{{ row['name'] }}</a></td>
			<td>{{ row['country'] }}</td>
			<td>{% raw row['flag_image'] %}</td>
			<td>{{ row['gamesPlayed'] }}</td>
			<td>{{ row['points'] }}</td>
			<td>{{ row['penalty'] }}</td>
			<td>{{ row['total'] }}</td>
			<td>{{ row['type'] }}</td>
		</tr>
	{% end %}
</table>
