<table>
	<tr class="leaderbd_col_header">
		<th>PLACE</th>
		<th>NAME</th>
		<th colspan="2" >COUNTRY</th>
		<th>GAMES</th>
		<th>AVG SCORE</th>
		<th>PENALTY</th>
		<th>TOTAL</th>
		<th>STATUS</th>
	</tr>
	{% for row in leaderboard %}
		<tr class="leaderbd_row" data-status="{{ row['type'] }}">
			<td>{{ row['place'] }}</td>
			<td><a href="playerstats/{{ row['name'] }}">{{ row['name'] }}</a></td>
			<td>{{ row['country'] }}</td>
			<td>{% raw row['flag_image'] %}</td>
			<td>{{ row['games_played'] }}</td>
			<td>{{ row['score'] }}</td>
			<td>{{ row['penalty'] }}</td>
			<td>{{ round(row['total'],1) }}</td>
			<td>{{ row['type'] }}</td>
		</tr>
	{% end %}
</table>
