<table>
	<tr class="leaderbd_col_header">
		{% if not allTied %}
			<th>PLACE</th>
		{% end %}
		<th>CUT</th>	
		<th>NAME</th>
		<th colspan="2" >COUNTRY</th>
		<th>GAMES</th>
		<th>RAW PTS</th>
		<th>PENALTY</th>
		<th>TOTAL</th>
		<th>STATUS</th>
	</tr>
	{% for row in leaderboard %}
		<tr class="leaderbd_row" data-status="{{ row['type'] }}">
			{% if not allTied %}
				<td>{{ row['place'] }}</td>
				{% end %}
				<td> {{ row['cutId'] }} </td>
			<td><a href="{{ proxyprefix }}playerstats/{{ row['player'] }}">{{ row['name'] }}</a></td>
			<td>{{ row['country'] }}</td>
			<td>{% raw row['flag_image'] %}</td>
			<td>{{ row['gamesPlayed'] }}</td>
			<td>{{ row['points'] }}</td>
			<td>{{ row['penalty'] }}</td>
			<td>{{ row['total'] }}</td>
			<td>{{ row['type'] }}</td>
		</tr>
	{% end %}
</table>
