{% extends "template.html" %}
{% block head %}
<style type="text/css">
.playerlist {
	width:100%;
}
table.playerlist tr > *:nth-of-type(2) {
	width:3em;
}
table.playerlist tr > *:nth-of-type(3) {
	width:1em;
}
</style>
{% end %}
{% block content %}

<div id="playerlist">
	<h2>All Players</h2>
	<table class="playerlist">
		<thead>
			<tr>
				{% for colhead in colheads %}
				<th{% raw " " + colhead["Attrs"] if "Attrs" in colhead else "" %}>
				  {{ colhead['Name'] }}</th>
				{% end %}
			</tr>
		</thead>
		{% for player in players %}
			<tr>
			  <td><a href="/t/{{ player['Name'] }}/tournament">{{ player['Name'] }}</a>
			    {% if is_admin %}
			    &nbsp;
			    <a href="{{ proxyprefix }}editplayer/{{ player['Id'] }}">
			      ✎</a>
			    {% end %}
			  </td>
			  <td>{{ player['Association'] }}</td>
			  <td>{{ player['BirthYear'] }}</td>
			  <td>{{ player['Country'] }}</td>
			  <td>{% raw player['Flag_Image'] %}</td>
			  <td>{{ player['Tournaments'] }}</td>
			  <td>{{ player['Latest'] }}</td>
			</tr>
			{% end %}
	</table>
</div>
{% end %}
