<script src="{{ static_url("js/players.js") }}" type="text/javascript"></script>
<table>
    <tr>
	<th class="colheader" data-type="str" data-fieldname="name">
	    Name</th>
	<th class="colheader" data-type="num" data-fieldname="number">
	    Number</th>
	<th class="colheader" data-type="str" data-fieldname="country" colspan="2" >
	    Country</th>
	<th class="colheader" data-type="str" data-fieldname="association">
	    Association</th>
	<th class="colheader" data-type="str" data-fieldname="pool">
	    Pool</th>
	<th class="colheader" data-type="str" data-fieldname="type">
	    <input type="checkbox" class="playerlisting"
		   id="showinactive" data-colname="Type" />
	    Show All
	</th>
	</tr>
	{% for player in players %}
		<tr class="player" data-id="{{ player['id'] }}"
		    data-status="{{ player['type'] }}">
		    <td class="name"><input type="text" data-colname="Name"
			class="playerfield" value="{{ player['name'] }}"
			{% if not editable %} disabled {% end %}/></td>
		    <td class="number"><input type="text" data-colname="Number"
			class="playerfield" value="{{ player['number'] }}"
			{% if not editable %} disabled {% end %}/></td>
		    <td class="country">
			{% if editable %}
			<span class="countryselect" data-colname="Country"
			      data-value="{{ player['countryid'] }}">
			    {{ player['country'] }}
			</span>
			{% end %}
			{% if not editable %}
			{{ player['country'] }}
			{% end %}
		    </td>
		    <td class="flag">{% raw player['flag_image'] %}</td>
		    <td class="association"><input type="text"
			data-colname="Association" class="playerfield"
			value="{{ player['association'] }}"
			{% if not editable %} disabled {% end %}/></td>
		    <td class="pool"><input type="text" data-colname="Pool"
			class="playerfield" value="{{ player['pool'] }}"
			{% if not editable %} disabled {% end %}/></td>
		    <td class="type">
		      {% if not editable %}
		      {{ player['type'] }}
		      {% else %}
			<select class="playertype" name="type">
			    <option value="0"
				    {% if player['type'] == '' %}selected{% end %}>
			      Regular</option>
			    <option value="1"
				    {% if player['type'] == 'Inactive' %}selected{% end %}>
			      Inactive</option>
			    <option value="2"
				    {% if player['type'] == 'Substitute' %}selected{% end %}>
			      Substitute</option>
			</select>
			<input type="button" class="deleteplayerbutton"
			       value="Delete" />
			{% end %}
		    </td>
		</tr>
	{% end %}
	{% if editable %}
	<tr>
	    <td colspan="7" class="addplayer">
		<input type="button" class="addplayerbutton"
		       value="Add player..." />
	    </td>
	</tr>
	{% end %}
</table>
