{% extends "template.html" %}

{% block title %} - User Preferences{% end %}

{% block content %}
	<h1>User Preferences</h1>
	<form action="/preferences" method="post" id="preferencesform">
		<label for="email">Email: </label>
		<input id="email" name="email" type="text" value="{{ email }}" />
		<label for="stylesheet">Stylesheet: </label>
		<select id="stylesheet" name="stylesheet">
			{% for sheet in stylesheets %}
			<option value="{{ sheet }}"{% if sheet == stylesheet %} selected{% end %}>{{ sheet }}</option>
			{% end %}
		</select>
		{% if is_admin %}
			<input type="number" value="{{ cutsize }}" name="cutsize" id="cutsize" />
		{% end %}
		<input type="submit" value="Update"/>
		<a href="/reset">Reset password</a>
	</form>
{% end %}
