<script src="{{ static_url("js/tables.js") }}" type="text/javascript"></script>
<div id="seating">
	<ul>
		{% for round in rounds %}
				<li><a href="#round-{{ round['round'] }}">Round {{ round['round'] }}</a></li>
		{% end %}
	</ul>
	{% for round in rounds %}
		<div class="round" data-round="{{ round['round'] }}" id="round-{{ round['round'] }}">
		{% if is_admin and not round['has_scores'] %}
			<button class="genround">Generate</button><br />
		{% end %}
			{% if current_user %}
				<button class="genscores">Randomize Scores</button><br />
			{% end %}
			<a href="/seating.csv?round={{ round['round'] }}">Download as CSV</a>
			<div class="roundstatus">
				Players sitting with players they've played before: {{ round['duplicates'] }}<br />
				Players sitting with players of the same country: {{ round['diversity'] }}
			</div>
			<table class="tables">
				<thead>
					<tr>
						{% if round['winds'] %}
							<th>Wind</th>
						{% end %}
						<th>Name</th>
						<th colspan="2">Country</th>
						<th>Raw Score</th>
						<th>Chombos</th>
						<th>Rank</th>
						<th>Score</th>
						{% if is_admin and not round['has_scores'] %}
							<th colspan="2" class="swapper">Swap</th>
						{% end %}
					</tr>
				</thead>
				{% for table in round['tables'] %}
					<thead>
						<tr>
							<th colspan="4">TABLE {{ table['table'] }}</h3>
							<th colspan="4" class="tabletotal">TOTAL {{ table['total'] }}</th>
							{% if is_admin and not round['has_scores'] %}
								<th colspan="2" class="swapper"></th>
							{% end %}
						</tr>
					</thead>
					<tbody class="table" data-tableid="{{ table['table'] }}" data-roundid="{{ round['round'] }}">
						{% for player in table['players'] %}
						<tr class="player{% if player['player']['id'] in round['diversityplayers'] or player['player']['id'] in round['duplicateplayers'] %} bad{% end %}" data-playerid="{{ player['player']['id'] }}">
								{% if round['winds'] %}
									<td class="windicator">{{ player['wind'] }}</td>
								{% end %}
								<td class="name">{{ player['player']['name'] }}</td>
								<td class="country">{{ player['player']['country'] }}</td>
								<td class="flag">{% raw player['player']['flag'] %}</td>
								<td class="rawscore">
									{% if current_user %}
										<input type="number" value="{{ player['player']['rawscore'] }}" class="playerscore" step="100" />
									{% else %}
										{{ player['player']['rawscore'] }}
									{% end %}
								</td>
								<td class="chombos">
									{% if current_user %}
										<input type="number" value="{{ player['player']['chombos'] }}" class="playerchombos" step="1" />
									{% else %}
										{{ player['player']['chombos'] }}
									{% end %}
								</td>
								<td class="rank">{{ player['player']['rank'] }}</td>
								<td class="score">{{ player['player']['score'] }}</td>
								{% if is_admin and not round['has_scores'] %}
									<td class="swapper">
										<input type="radio" name="round{{ round['round'] }}-left" class="swapper" value="{{ player['player']['id'] }}"/>
									</td>
									<td class="swapper">
										<input type="radio" name="round{{ round['round'] }}-right" class="swapper" value="{{ player['player']['id'] }}"/>
									</td>
								{% end %}
							</tr>
						{% end %}
					</tbody>
				{% end %}
			</table>
		</div>
	{% end %}
</div>
