<!doctype html>
<html>
	<head>
		<title>
			{{ websitename }}
		  {% block title %}{% end %}</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width = device-width, initial-scale = 1.0, user-scalable=no" />

		<link rel="icon" type="image/png" href="{{ proxyprefix.rstrip('/') + static_url("images/favicon.png") }}" />

		<link href="{{ useLocal('https://fonts.googleapis.com/css?family=Lato:400,700') }}" rel='stylesheet' type='text/css' />
		<link href="{{ useLocal('https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ useLocal('https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.theme.min.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ useLocal('https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ useLocal('https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ useLocal('https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css') }}" rel="stylesheet" type="text/css" />

		<link href="{{ proxyprefix.rstrip('/') + static_url("css/style.css") }}" type="text/css" rel="stylesheet" />

		<script src="{{ useLocal('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js') }}" type="text/javascript"></script>
		<script src="{{ useLocal('https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js') }}" type="text/javascript"></script>
		<script src="{{ useLocal('https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js') }}" type="text/javascript"></script>
		<script src="{{ useLocal('https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js') }}" type="text/javascript"></script>
		<script src="{{ proxyprefix.rstrip('/') + static_url('js/jsgrid.min.js') }}" type="text/javascript"></script>
		<script src="{{ useLocal('https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js') }}" type="text/javascript"></script>
		<script src="{{ proxyprefix.rstrip('/') + static_url("js/script.js") }}"></script>

		<link href="{{ proxyprefix.rstrip('/') + static_url("css/colors/" + (stylesheet if (current_user and stylesheet) else '00-default.css')) }}"
		      id="userstylesheet" type="text/css" rel="stylesheet" />

		<script type="text/javascript">
			var base = "{{ proxyprefix }}";
		</script>

		{% block head %}{% end %}
	</head>
	<body>
	  <a href="{{ SponsorLink }}" target="_blank">
	    <img src="{{ proxyprefix.rstrip('/') + static_url("images/SRMC-logo.png") }}"
		 class="sitelogo" alt="Logo"></a>
	  <div id="navbar">
			<a href="{{ proxyprefix }}">Home</a>
			{% if not current_user %}
				<a href="{{ proxyprefix }}login?next={{ proxyprefix.rstrip('/') + request.uri }}">Login</a>
			{% else %}
				<a href="{{ proxyprefix }}preferences">Preferences</a>
				<a href="{{ proxyprefix }}users.html">Users</a>
				<a href="{{ proxyprefix }}logout?next={{ proxyprefix.rstrip('/') + request.uri }}">Logout</a>
			{% end %}
	  </div>
		<div id="content">
			{% block content %}{% end %}
		</div>
	</body>
</html>
