{% extends "template.html" %}
{% block head %}
		<link href="{{ static_url("css/tournament.css") }}" type="text/css" rel="stylesheet" />
		<script src="{{ static_url("js/tournament.js") }}"></script>
{% end %}
{% block content %}
<div id="tournament">
	{% if no_user %}
		<p>It appears you've no users. Would you like to create one?</p>
		<a class="button" href="/setup">SETUP</a>
	{% end %}
	<ul>
		<li data-id="players"><a href="#players">Players</a></li>
	  {% if is_admin %}
		<li data-id="settings"><a href="#settings">Settings</a></li>
	  {% end %}
		<li data-id="standings"><a href="#standings">Standings</a></li>
		<li data-id="seating"><a href="#seating">Seating</a></li>
	</ul>
	<div id="players">
	</div>
     {% if is_admin %}
	<div id="settings">
	</div>
     {% end %}
	<div id="standings">
	</div>
	<div id="seating">
	</div>
</div>
{% end %}
