{% extends "template.html" %}
{% block head %}
		<link href="{{ static_url("css/tournament.css") }}" type="text/css" rel="stylesheet" />
		<script src="{{ static_url("js/tournament.js") }}"></script>
{% end %}
{% block content %}
<div id="tournament">
	<ul>
		<li><a href="#players">Players</a></li>
		<li><a href="#standings">Standings</a></li>
		<li><a href="#settings">Settings</a></li>
		<li><a href="#seating">Seating</a></li>
	</ul>
	<div id="players">
	</div>
	<div id="standings">
	</div>
	<div id="settings">
	</div>
	<div id="seating">
	</div>
</div>
{% end %}
