{% extends "template.html" %}
{% block head %}
		<link href="{{ static_url("css/tournament.css") }}" type="text/css" rel="stylesheet" />
		<script src="{{ static_url("js/tournament.js") }}"></script>
{% end %}
{% block content %}
<div id="tournament">
	{% if no_user %}
		<p>It appears you've no users. Would you like to create one?</p>
		<a class="button" href="/setup">SETUP</a>
	{% end %}
	<ul>
		<li data-id="players"><a href="#players">Players</a></li>
	  {% if is_admin %}
		<li data-id="users"><a href="#users">Users</a></li>
		<li><a href="/settings.html">Settings</a></li>
	  {% end %}
		<li><a href="/leaderboard.html">Standings</a></li>
		<li><a href="/seating.html">Seating</a></li>
	</ul>
	<div id="players">
	</div>
     {% if is_admin %}
	<div id="users">
	</div>
     {% end %}
</div>
{% end %}
