{% extends "template.html" %}
{% block head %}
<script>
  var countryList = null, countries = null;
</script>
<script src="{{ proxyprefix.rstrip('/') + static_url("js/jsgrid-utils.js") }}"
	type="text/javascript"></script>
<script src="{{ proxyprefix.rstrip('/') + static_url("js/tournaments.js") }}"
	type="text/javascript"></script>
{% end %}
{% block title %}
	All Tournaments
{% end %}
{% block content %}
<div id="tournamentsEditingPanel">
  <div id="tournamentspanel">
    <h2>All Tournaments</h2>
    <p>Click ▶ to {% if current_user %}manage{% else %}see{% end %} players</p>
    <div id="tournamentsgrid">
      Loading...
    </div>
  </div>

  <span id="transferplayersbutton" class="button hidden"
	title="Transfer selected players">⇔</span>

  <div id="playerspanel" class="hidden">
    <h2>Available Players</h2>
    <div id="availableplayersgrid">
    </div>
  </div>
</div>
{% end %}
